
@{
    Layout = null;
}

<a href="/Default/Index/">Index Page</a>

<h1>Product Page</h1>
<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
<h3>Addition: @ViewBag.sum</h3>
<h3>Area: @ViewBag.rctArea</h3>
<h3>Environment: @ViewBag.rctEnvironment</h3>
<h3>Factorial: @ViewBag.fct</h3>
